<ion-header>
  <div class="bg-green-600 h-12">
    <div class="px-2 flex justify-between items-center pt-2">
      <div class="text-white text-xl">Mon profil</div>
      <div class="space-x-5">
        <ion-icon class="text-white" name="notifications-outline"></ion-icon>
        <ion-icon class="text-white" name="search-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="flex items-center">
    <div class="">
      <ion-avatar item-left>
        <img src="assets/14.png" width="100%" class="">
      </ion-avatar>
    </div>
    <div class="">Member user</div>
  </div>
  <div class="">
    
  </div>
</ion-content>
