<ion-header>
  <div class="bg-green-600 h-12 flex justify-between items-center px-2">
    <button  (click)="goBack()"><ion-icon class="text-white font-bold" size="large" name="arrow-back-outline"></ion-icon></button>
    <button class="">
      <ion-avatar item-left>
        <img src="assets/4.jpg">
      </ion-avatar>
    </button>
  </div>
</ion-header>

<ion-content>
    <div class="flex flex-col space-y-5">
      <div class="">
        <img src="assets/fraise.jpg" alt="" class="">
      </div>
      <div class="flex flex-col space-y-3 px-5">
        <div class="flex items-center justify-between">
          <div class="font-bold text-2xl">Banane</div>
          <div class="font-bold">500 fcfa</div>
        </div>
        <div class=""><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></div>
        <div class="font-bold text-2xl">Details</div>
        <div class="text-gray-600 text-sm w-64">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, vel.</div>
      </div>
      <div class="px-5 space-x-5 flex items-center justify-center">
        <button class="bg-green-600 w-52 rounded-lg h-10 uppercase text-white text-lg">Ajouter au panier</button>
        <button class="bg-red-600 w-12 h-10 rounded-lg uppercase"><ion-icon size="large" class="text-white pt-1" name="heart-outline"></ion-icon></button>
      </div>
      <div class="">
        <div class="font-bold text-2xl px-5">ajouter recémment</div>
        <div class=""></div>
      </div>
    </div>
</ion-content>
